.board {
    width: 25rem;
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 3px;
    transition: all 0.3s;

    &--hidden {
        display: none;
    }

    &__cell {
        border: 1px solid black;
        width: 2.5rem;
        height: 2.5rem;

        &--ship {
            background-color: #77ee77;
        }

        &--hit {
            background-color: #ee7777;
        }

        &--miss {
            background-color: #2188ff;
        }
    }
}
